{% extends "eprodaja/base.html" %}

{% block title %}Resetovanje lozinke{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h3>Molim vas unesite e-mail adresu na koju će vam biti poslate instrukcije za resetovanje lozinke.</h3>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            {{ form.email.errors }}
            <p><label for="id_email">E-mail adresa:</label> {{ form.email }} <input type="submit" value="Resetuj lozinku" /></p>
        </form>
    </div>
</div>




{% endblock %}