{% extends "eprodaja/base.html" %}
{% block title %}Setting New password{% endblock %}

{% block content %}
    {% if validlink %}
    <div class="container">
        <div class="row">
        <h3>Molim vas unesite novu lozinku dva puta.<br />
           Da bismo bili sigurni da ste uneli ispravnu lozinku.</h3>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova lozinka:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Potvrdi lozinku:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Promeni lozinku" /></td>
                </tr>
            </table>
        </form>
        </div>
    </div>
    {% else %}
    <div class="container">
        <div class="row">
        <h1>Neuspešno resetovanje lozinke</h1>
        <p>Neispravan link, <br />
        verovatno zato što je već u upotrebi. <br />
        Molim vas zahtevajte novo resetovanje lozinke.</p>
        </div>
    </div>
    {% endif %}
{% endblock %}