{% extends 'eprodaja/base.html' %}
{% block title %}Početna{% endblock %}
{% block content %}
{% load staticfiles %}
	 
	 <div id="contact-page" class="container">
    	<div class="bg">
	    	  	<br>
    		<div class="row">  	
	    		<div class="col-sm-8">
	    			<div class="contact-form">
	    				<h2 class="title text-center">Pitajte nas, dajte sugestiju...</h2>
	    				<div class="status alert alert-success" style="display: none"></div>
						 {% if user.is_authenticated %}
						<form role="form" action="{% url 'eprodaja:kontakt'%}" method="post" enctype="multipart/form-data" id="main-contact-form" class="contact-form row" name="contact-form">
						{% csrf_token %}
				            <div class="form-group col-md-6">
				                <input type="text" name="name" class="form-control" required="required" value="{{ user.username }}" placeholder="Ime" title=" ">
				            </div>
				            <div class="form-group col-md-6">
				                <input type="email" name="email" class="form-control" required="required" value="{{ user.email }}" placeholder="E-mail" title=" ">
				            </div>
				            <div class="form-group col-md-12">
				                <input type="text" name="subject" class="form-control" required="required" placeholder="Tema" title=" ">
				            </div>
				            <div class="form-group col-md-12">
				                <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Vaša poruka" title=" "></textarea>
				            </div>                        
				            <div class="form-group col-md-12">
				                <input type="submit" name="submit" class="btn btn-primary pull-right" value="Pošalji poruku">
				            </div>
				        </form>
						{% else %}
						<h3>Da biste nam poslali poruku morate biti ulogovani!</h3>
						<a href="{% url 'eprodaja:login_user'%}">
							<button type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-unlock"></span>&nbsp; Uloguj se
							</button>
						</a>
						{% endif %}
	    			</div>
	    		</div>
	    		<div class="col-sm-4">
	    			<div class="contact-info">
	    				<h2 class="title text-center">Kontakt informacije</h2>
	    				<address>
	    					<p>NS-MOBILPLUS str</p>
							<p>Jevrejska 19</p>
							<p>Novi Sad, Srbija</p>
							<p>Mobile: +38160 755 00 57</p>
							<p>Email: papulic@gmail.com</p>
	    				</address>
	    			</div>
    			</div>    			
	    	</div>  
    	</div>	
    </div><!--/#contact-page-->
	
{% endblock %}