{% extends 'eprodaja/base.html' %}
{% block title %}Dostava{% endblock %}
{% block content %}
{% load staticfiles %}
	
	<section id="dostava">
		<div class="container">
			<br>
			<div class="row">
				<div class="col-sm-12">
					<div class="blog-post-area">
						<h2 class="title text-center">O nama</h2>
						<div class="single-blog-post">
                            <h4>Isporuku vršimo BEX kurirskom službom &nbsp;</h4>
                            <h4>ili kurirskom službom po vašoj želji.</h4>
                            <h4>Poručena roba uglavnom stiže na vašu adresu dan za dan.</h4>
                            <h4>Za sve porudžbine preko 2500 din, isporuka je besplatna.</h4>

							<hr>

                            <h4>Ukoliko želite da vam se roba dostavi drugom službom,</h4>
                            <h4>potrebno je da prilikom web kupovine u polje napomena napišete ime službe</h4>
                            <h4>koju želite da vam dostavi robu.</h4>
						</div>
						<br>


					</div>
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}