{% extends 'eprodaja/base.html' %}
{% block title %}Početna{% endblock %}
{% block content %}
{% load staticfiles %}

	<header id="header">
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-3">

					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><img width="308" height="70" src="{%  static 'eprodaja/images/home/NSmobilPlusLogo.jpg' %}" alt="" /></h1>
									<h2>Prodaja opreme za mobilne telefone</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/oprema.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><img width="308" height="70" src="{%  static 'eprodaja/images/home/NSmobilPlusLogo.jpg' %}" alt="" /></h1>
									<h2>Servis mobilnih telefona</h2>
									<p>Opišite nam kvar na vašem uređaju i mi ćemo vam u najkraćem mogućem roku dati našu procenu.</p>
									<a href="{% url 'eprodaja:kontakt' %}" type="button" class="btn btn-default get">Kontaktiraj nas..</a>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/servis.png' %}" class="girl img-responsive" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><img width="308" height="70" src="{%  static 'eprodaja/images/home/NSmobilPlusLogo.jpg' %}" alt="" /></h1>
									<h2>Prodaja mobilnih telefona</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/telefoni.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-12 col-xs-12">
					<div class="left-sidebar">
						<h2>PRETRAGA</h2>
						<div class="panel-group category-products" id="pretraga_scroll">
							<form id="main-contact-form-search" class="contact-form row" novalidate="novalidate">
								<div class="form-group col-md-6">
									<input type="text" name="pretraga_svih_artikala" class="form-control" required="required" placeholder="Pretraga..." title=" " >
								</div>
								<div class="form-group col-md-6">
									<button id="pretrazi_artikle" class="btn btn-primary pull-right"><a href="#filter_artikli"> Pretraži</a></button>
								</div>

							</form>
						</div>
						<div id="scroller-anchor"></div>

						<button class="btn btn-default" id="button_xs">Filter</button>
						<div class="sidenav" id="mySidenav">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <h2>KATEGORIJE</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            {% for kategorija in sve_kategorije %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<!--ako ima podkategoriju ili su podkategorija brendovi-->
										{% if kategorija.podkategorije.all or kategorija.tipovi or kategorija.brendovi %}
										<a class="pretraga" data-id="kategorija{{ kategorija.id }}" data-toggle="collapse" data-parent="#accordian" href="#{{ kategorija.id }}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{ kategorija }}
										</a>
										{% else %}
											<a class="pretraga" data-id="kategorija{{ kategorija.id }}" href="javascript:void(0)">{{ kategorija }}</a>
										{% endif %}
									</h4>
								</div>
								<!--ako ima podkategorije-->
								{% if kategorija.podkategorije.all %}
								<div id="{{ kategorija.id }}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
                                            {% for podkategorija in kategorija.podkategorije.all %}
											<li>
												<!--ako ima tip ili brend-->
												{% if kategorija.tipovi or kategorija.brendovi  %}
												<a class="pretraga" data-id="kategorija{{ kategorija.id }}_podkategorija{{ podkategorija.id }}" data-toggle="collapse" href="#{{ kategorija.id }}{{ podkategorija.id }}">
													<span class="badge pull-right"><i class="fa fa-plus"></i></span>
													<b>{{ podkategorija.podkategorija }}</b>
												</a>
												{% else %}
												<a class="pretraga" data-id="kategorija{{ kategorija.id }}_podkategorija{{ podkategorija.id }}" href="javascript:void(0)"><b>{{ podkategorija.podkategorija }}</b></a>
												{% endif %}
											</li>
											<!--ako ima tip-->
											{% if kategorija.tipovi %}
											<div id="{{ kategorija.id }}{{ podkategorija.id }}" class="collapse">
												<ul>
												{% for tip in tipovi %}
													<li><a class="pretraga" data-id="kategorija{{ kategorija.id }}_podkategorija{{ podkategorija.id }}_tip{{ tip.id }}" href="javascript:void(0)">{{ tip.tip }}</a></li>
												{% endfor %}
												</ul>
											</div>
											{% endif %}
											<!--ako ima brend-->
											{% if kategorija.brendovi %}
											<div id="{{ kategorija.id }}{{ podkategorija.id }}" class="collapse">
												<ul>
												{% for brend in brendovi %}
													<li><a class="pretraga" data-id="kategorija{{ kategorija.id }}_podkategorija{{ podkategorija.id }}_brend{{ brend.id }}" href="javascript:void(0)">{{ brend.brend }}</a></li>
												{% endfor %}
												</ul>
											</div>
											{% endif %}
											{% endfor %}
										</ul>
									</div>
								</div>
								<!--ako su podkategorija brendovi (NE SME DA IMA PODKATEGORIJU) -->
								{% elif kategorija.brendovi %}
								<div id="{{ kategorija.id }}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
                                            {% for brend in brendovi %}
											<li>
												<a class="pretraga" data-id="kategorija{{ kategorija.id }}_brend{{ brend.id }}" href="javascript:void(0)"><b>{{ brend.brend }}</b></a>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								<!--ako su podkategorija tipovi (NE SME DA IMA PODKATEGORIJU) -->
								{% elif kategorija.tipovi %}
								<div id="{{ kategorija.id }}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
                                            {% for tip in tipovi %}
											<li>
												<a class="pretraga" data-id="kategorija{{ kategorija.id }}_tip{{ tip.id }}" href="javascript:void(0)"><b>{{ tip.tip }}</b></a>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								{% endif %}
							</div>
							<hr>
                            {% endfor %}
						</div><!--/category-products-->
						</div>
					</div>
				</div>

				
				<div class="col-md-9 col-sm-12 col-xs-12 padding-right" id="svi_artikli">
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">ARTIKLI</h2>
							<div id="filter_artikli" class="category-tab"><!--category-tab-->
                                <!--Ovo brise jquery filter-->
                                {% for artikal in random_artikli %}
								<div class="col-md-3 col-sm-6 col-xs-6">
									<div class="product-image-wrapper">
										<div class="productinfo text-center">
											<a class="artikal_detail" href="{{ artikal.slika.url }}" id="{{ artikal.id }}">
											{% if artikal.slika %}
											<img src="{{ artikal.slika.url }}" alt="" />
											{% endif %}
											</a>
											<h2>{{ artikal.cena }} din</h2>
												<p>{{ artikal.opis }}</p>
										</div>
										<button id="{{ artikal.id }}" class="u_korpu btn btn-default add-to-cart" type="submit" value="U korpu"><i class="fa fa-shopping-cart input_span"></i> U korpu</button>
									</div>
								</div>
								{% endfor %}

							</div><!--/category-tab-->
						</div>
					{% if artikli_na_akciji %}
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">AKCIJA</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for artikal in artikli_na_akciji %}
								{% if forloop.counter0 == 0 %}
								<div class="item active">
								{% endif %}
								{% if forloop.counter0|divisibleby:3 and forloop.counter0 != 0 %}
								<div class="item">
								{% endif %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<a class="artikal_detail" href="{{ artikal.slika.url }}" id="{{ artikal.id }}">
													{% if artikal.slika %}
													<img src="{{ artikal.slika.url }}" alt="" />
													{% endif %}
													</a>
													<h2>{{ artikal.cena }}</h2>
													<div class="opis_and_button">
													<p>{{ artikal.opis }}</p>
													<button id="{{ artikal.id }}" class="u_korpu btn btn-default add-to-cart" type="submit" value="U korpu"><i class="fa fa-shopping-cart input_span"></i> U korpu</button>
												</div>
												</div>
											</div>
										</div>
									</div>
								{% if forloop.counter0 == 2 %}
								</div>
								{% endif %}
								{% if forloop.counter|divisibleby:3 and forloop.counter0 > 4 %}
								</div>
								{% endif %}
								{% if forloop.last %}
								{% if forloop.counter|divisibleby:3 %}
								{% else %}
								{% if forloop.counter0 > 2  %}
								</div>
								{% endif %}
								{% endif %}
								{% endif %}
								{% endfor %}

							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					{% endif %}
				</div>
			</div>
		</div>
	</section>
	<div id="modal-artikal" class="modal" tabindex="-1" role="dialog">
		<!-- popuni ajax -->
	</div>
{% endblock %}
