{% extends 'eprodaja/base.html' %}
{% block title %}Početna{% endblock %}
{% block content %}
{% load staticfiles %}

	<header id="header">
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-3">

					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>NS</span>-MOBILPLUS</h1>
									<h2>Prodaja opreme za mobilne telefone</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/oprema.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>NS</span>-MOBILPLUS</h1>
									<h2>Servis mobilnih telefona</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/servis.png' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>NS</span>-MOBILPLUS</h1>
									<h2>Prodaja mobilnih telefona</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/telefoni.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<div class="brands_products"><!--brands_products-->
							<h2>Filter</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<form id="artikli_form" method="get">
										{{ artikli_filter.form.as_p }}
										<button type="submit">Search</input>
								  	</form>


								</ul>
							</div>
						</div><!--/brands_products-->
						
					
						
						<div class="shipping text-center"><!--shipping-->
							<img src="{%  static 'eprodaja/images/home/shipping.jpg' %}" alt="" />
						</div><!--/shipping-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">{{ kategorija }} - {{ marka }} - {{ model }}</h2>
							<div class="category-tab"><!--category-tab-->
								{% for artikal in artikli_filter.qs %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												{% if artikal.slika %}
												<img src="{{ artikal.slika.url }}" alt="" />
												{% endif %}
												<h2>{{ artikal.cena }} din</h2>
												<p>{{ artikal.opis }}</p>
												<form id="artikal{{ forloop.counter0 }}" method="post">
												{% csrf_token %}
													<input type="hidden" name="artikal" value="{{ artikal.id }}">
													<i class="fa fa-shopping-cart input_span"></i><input class="btn btn-default add-to-cart" type="submit" value="U korpu">
												</form>
											</div>

										</div>
									</div>
								</div>
								{% endfor %}
							</div><!--/category-tab-->
						</div>
					{% if artikli_na_akciji %}
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">trenutno na akciji</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for artikal in artikli_na_akciji %}
								{% if forloop.counter0 == 0 %}
								<div class="item active">
								{% endif %}
								{% if forloop.counter0|divisibleby:3 and forloop.counter0 != 0 %}
								<div class="item">
								{% endif %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													{% if artikal.slika %}
													<img src="{{ artikal.slika.url }}" alt="" />
													{% endif %}
													<h2>{{ artikal.cena }}</h2>
													<p>{{ artikal }}</p>
													<form id="artikal_akcija{{ forloop.counter0 }}" method="post">
													{% csrf_token %}
														<input type="hidden" name="artikal" value="{{ artikal.id }}">
														<i class="fa fa-shopping-cart input_span"></i><input class="btn btn-default add-to-cart" type="submit" value="U korpu">
													</form>
												</div>
											</div>
										</div>
									</div>
								{% if forloop.counter0 == 2 %}
								</div>
								{% endif %}
								{% if forloop.counter|divisibleby:3 and forloop.counter0 > 4 %}
								</div>
								{% endif %}
								{% if forloop.last %}
								{% if forloop.counter|divisibleby:3 %}
								{% else %}
								{% if forloop.counter0 > 2  %}
								</div>
								{% endif %}
								{% endif %}
								{% endif %}
								{% endfor %}

							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					{% endif %}
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block jquery %}
 <script>
$(document).ready(function () {
    $("input[type=submit]").click(function() {
        if(this.form.id != "artikli_filter"){
  	        var artikal_id = $(this.form).find('input[name="artikal"]').val();
            $.ajax({
                url: '/dodaj_artikal/',
                data: {
                       'artikal_id': artikal_id
                },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        $("#korpa").html(data.proizvoda_u_korpi);
                    }
                }
            });
        }
        else{alert('aaa');}
    });
});
</script>
{% endblock %}