{% extends 'eprodaja/base.html' %}
{% block title %}Početna{% endblock %}
{% block content %}
{% load staticfiles %}

	<header id="header">
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-3">

					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	
	<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>
						
						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>NS</span>-MOBILPLUS</h1>
									<h2>Prodaja opreme za mobilne telefone</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/oprema.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							<div class="item">
								<div class="col-sm-6">
									<h1><span>NS</span>-MOBILPLUS</h1>
									<h2>Servis mobilnih telefona</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/servis.png' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}"  class="pricing" alt="" />
								</div>
							</div>
							
							<div class="item">
								<div class="col-sm-6">
									<h1><span>NS</span>-MOBILPLUS</h1>
									<h2>Prodaja mobilnih telefona</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
									<button type="button" class="btn btn-default get">Pogledajte ponudu</button>
								</div>
								<div class="col-sm-6">
									<img src="{%  static 'eprodaja/images/home/telefoni.jpg' %}" class="girl img-responsive" alt="" />
									<img src="{%  static 'eprodaja/images/home/pricing.png' %}" class="pricing" alt="" />
								</div>
							</div>
							
						</div>
						
						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>
					
				</div>
			</div>
		</div>
	</section><!--/slider-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<div class="brands_products"><!--brands_products-->
							<h2>Filter</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<form id="artikli_form" method="get">
										{{ artikli_filter.form.as_p }}
										<button id="artikli_filter" type="submit">Search</input>
								  	</form>
								</ul>
							</div>
						</div><!--/brands_products-->
                        <h2>MARKE</h2>
                        <div class="panel-group category-products" id="accordian"><!--category-productsr-->

                            {% for marka in sve_marke %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-id="marka{{ marka.id }}" data-toggle="collapse" data-parent="#accordian" href="#{{ marka }}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{ marka }}
										</a>
									</h4>
								</div>
								<div id="{{ marka }}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
                                            {% for model in marka.model_set.all %}
											<li><a href="javascript:void(0)" data-id="model{{ model.id }}">{{ model.model }} </a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div><!--/category-products-->
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">ARTIKLI</h2>
							<div class="category-tab"><!--category-tab-->

                                {% for artikal in random_artikli %}
								<div class="col-sm-3">
									<div class="product-image-wrapper">
										<div class="single-products">
											<div class="productinfo text-center">
												{% if artikal.slika %}
												<img src="{{ artikal.slika.url }}" alt="" />
												{% endif %}
												<h2>{{ artikal.cena }} din</h2>
												<p>{{ artikal.opis }}</p>
                                                <button id="{{ artikal.id }}" class="btn btn-default add-to-cart" type="submit" value="U korpu"><i class="fa fa-shopping-cart input_span"></i> U korpu</button>

											</div>

										</div>
									</div>
								</div>
								{% endfor %}
							</div><!--/category-tab-->
						</div>
					{% if artikli_na_akciji %}
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">trenutno na akciji</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								{% for artikal in artikli_na_akciji %}
								{% if forloop.counter0 == 0 %}
								<div class="item active">
								{% endif %}
								{% if forloop.counter0|divisibleby:3 and forloop.counter0 != 0 %}
								<div class="item">
								{% endif %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													{% if artikal.slika %}
													<img src="{{ artikal.slika.url }}" alt="" />
													{% endif %}
													<h2>{{ artikal.cena }}</h2>
													<p>{{ artikal.opis }}</p>
													<button id="{{ artikal.id }}" class="btn btn-default add-to-cart" type="submit" value="U korpu"><i class="fa fa-shopping-cart input_span"></i> U korpu</button>
												</div>
											</div>
										</div>
									</div>
								{% if forloop.counter0 == 2 %}
								</div>
								{% endif %}
								{% if forloop.counter|divisibleby:3 and forloop.counter0 > 4 %}
								</div>
								{% endif %}
								{% if forloop.last %}
								{% if forloop.counter|divisibleby:3 %}
								{% else %}
								{% if forloop.counter0 > 2  %}
								</div>
								{% endif %}
								{% endif %}
								{% endif %}
								{% endfor %}

							</div>
							 <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							  </a>
							  <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							  </a>			
						</div>
					</div><!--/recommended_items-->
					{% endif %}
				</div>
			</div>
		</div>
	</section>
<div class="container" id="probni">
</div>
{% endblock %}
{% block jquery %}
 <script>
$(document).ready(function () {
    $(":button").click(function() {
        //console.log(this.id);
        if(this.id != "artikli_filter"){
            var artikal_id = this.id;
            $.ajax({
                context: this,
                url: '/dodaj_artikal/',
                data: {
                       'artikal_id': artikal_id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.error) {
                        window.location = '/logovanje/';
                    } else{
                        $('html, body').animate({
                            'scrollTop' : $("#korpa").position().top
                        });

                        var itemImg = $(this).parent().find('img').eq(0);
                        flyToElement($(itemImg), $('#korpa'));
                        $("#korpa").html(data.proizvoda_u_korpi);
                        $(this).hide();
                    }
                }
            });
        }
    });
    $('a').on("click",function(){
        var model_ili_marka =  $(this).data("id");
        $.ajax({
            context: this,
            url: '/filter/',
            data: {
                   'model_ili_marka': model_ili_marka
            },
            dataType: 'json',
            success: function (data) {
                if (data) {
                    for (i = 0; i < data.length; i++){
                        var line = '<h4>' + data[i].model + '</h4>';
                        $("#probni").append(line);
                    }
                }
            }
        });
    })
});
</script>
{% endblock %}