{% extends 'eprodaja/base.html' %}
{% block title %}Logovanje{% endblock %}
{% block content %}
{% load staticfiles %}

	<section id="form"><!--form-->
		<div class="container">
            <div class="row">
                <div class="col-sm-12 col-sm-offset-4">
                {% if messages %}
                {% for message in messages %}
                <p style="color:red;">{{ message }}</p>
                {% endfor %}
                {% endif %}
                </div>
            </div>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<h2>Uloguj se</h2>
						<form role="form" action="{% url 'eprodaja:login_user'%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ loginForm.as_p }}

							<button type="submit" class="btn btn-default" name="logovanje_korisnika">Logovanje</button>
                            <a href="{% url 'password_reset'%}">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-lock"></span>&nbsp; Zaboravljena lozinka
                                </button>
                            </a>
						</form>
					</div><!--/login form-->
				</div>
				<div class="col-sm-1">
					<h2 class="or">ili</h2>
				</div>
				<div class="col-sm-4">
					<div class="signup-form"><!--sign up form-->
						<h2>Napravi novi nalog!</h2>
						<form role="form" action="{% url 'eprodaja:login_user'%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ registerForm.as_p }}
                            <hr>
                            <h5><center>Sledeća polja nisu obavezna za registraciju,<br>možete ih ispuniti prilikom kupovine</center></h5>
                            {% csrf_token %}
                            {{ detaljiForm.as_p }}
							<button type="submit" class="btn btn-default" name="registrovanje_korisnika">Napravi nalog</button>
						</form>
					</div><!--/sign up form-->
				</div>
			</div>
		</div>
	</section><!--/form-->
	
{% endblock %}