{% extends 'eprodaja/base.html' %}
{% block title %}detalji{% endblock %}
{% block content %}
{% load staticfiles %}
	
	<section>
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><button onclick="goBack()" class="btn btn-primary">Nazad</button></li>
				  <li class="active">Detalji artikla #{{ artikal.id }}</li>
				</ol>
			</div><!--/breadcrums-->
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div id="view-product" class="view-product">
								<img id="glavna_slika" class="stop jq" src="{{ artikal.slika.url }}" alt="" />
							</div>
							{% if ostale_slike %}
							<h5>Klikni sliku da zumiraš</h5>
							<div class="image-grid">
								{% for slika in ostale_slike %}
								<a class="image" data-id="slika{{ slika.id }}" href="javascript:void(0)"><img width="60" height="83" src="{{ slika.slika.url }}" alt=""></a>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->

								<h2>{{ artikal.opis }}</h2>
								<p>Artikal ID: #{{ artikal.id }}</p>
								<span>
									<span>{{ artikal.cena }} din</span>
									<label>Komada:</label>
									<input name="broj_komada" type="number" value="1" />
									<button id="{{ artikal.id }}" type="submit" value="U korpu" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										U korpu
									</button>
								</span>
								<p><b>Kategorija:</b>{{ artikal.kategorija }}</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block jquery %}

    $('.image-grid img').click(function(){
    	if ($(this).attr('height')=='500'){
			$(this).attr('height','83');
			$(this).attr('width','60');
			}
		else{
			$(this).attr('height','500');
			$(this).attr('width','360');
			}
		});
	jQuery(document.body).on('click', ':button', function() {
        //console.log(this.id);
        if(this.id != "pretrazi_artikle"){
            var artikal_id = this.id;
            var komada = $('input[name=broj_komada]').val();
            $.ajax({
                context: this,
                url: '/dodaj_artikal/',
                data: {
                       'artikal_id': artikal_id,
                       'komada': komada
                },
                dataType: 'json',
                success: function (data) {
                    if (data.error) {
                        window.location = '/logovanje/';
                    } else{
                        $('html, body').animate({
                            'scrollTop' : $("#korpa").position().top
                        });

                        var itemImg = $('#glavna_slika');
                        flyToElement($(itemImg), $('#korpa'));
                        $("#korpa").html(data.proizvoda_u_korpi);
                        $(this).hide();
                    }
                }
            });
        }
    });


{% endblock %}