{% extends 'eprodaja/base.html' %}
{% block title %}detalji{% endblock %}
{% block content %}
{% load staticfiles %}
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div id="view-product" class="view-product">
								<img class="stop jq" src="{{ artikal.slika.url }}" alt="" />
							</div>
							{% if ostale_slike %}
							<h5>Klikni sliku da zumiraš</h5>
							<div class="image-grid">
								{% for slika in ostale_slike %}
								<a class="image" data-id="slika{{ slika.id }}" href="javascript:void(0)"><img width="60" height="83" src="{{ slika.slika.url }}" alt=""></a>
								{% endfor %}
							</div>
							{% endif %}
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->

								<h2>{{ artikal.opis }}</h2>
								<p>Artikal ID: #{{ artikal.id }}</p>
								<span>
									<span>{{ artikal.cena }} din</span>
									<label>Komada:</label>
									<input type="text" value="1" />
									<button type="button" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										U korpu
									</button>
								</span>
								<p><b>Kategorija:</b>{{ artikal.kategorija }}</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
				</div>
			</div>
		</div>
	</section>

{% endblock %}
{% block jquery %}
 <script>
$(document).ready(function () {
    $('.image-grid img').click(function(){
    	if ($(this).attr('height')=='500'){
			$(this).attr('height','83');
			$(this).attr('width','60');
			}
		else{
			$(this).attr('height','500');
			$(this).attr('width','360');
			}
		});
});
</script>
{% endblock %}